body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    color: #ffb1b1; /* Red color */
    font-size: 28px; /* Adjust the font size as needed */
    font-weight: bold; /* Bold text */
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Adjust the width of your logo as needed */
    height: 80px; /* Ensure height matches width to maintain a perfect circle */
    margin-right: 10px; /* Adjust the margin as needed */
    border-radius: 50%; /* Make the logo circular */
}

.title span {
    margin-left: 10px; /* Adjust the margin as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold; /* Bold text */
    transition: color 0.3s, font-size 0.3s; /* Add transition for color and font-size */
}

nav a:hover {
    color: rgb(227, 3, 227); /* Change the text color on hover */
    font-size: 22px; /* Change the font size on hover */
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or 'space-around' or 'space-evenly' based on your preference */
    margin: 20px 10%;
}

.section {
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin-bottom: 20px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-2 {
    position: relative;
    display: inline-block;
}

.custom-dropdown-3 {
    position: relative;
    display: inline-block;
}

.selected-dining-hall {
    cursor: pointer;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px; /* Adjust the border radius as needed */
    text-align: center;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.selected-dining-hall:hover {
    background-color: #ae7d7d;
    transform: scale(1.1);
}



.dropdown-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: rgba(191, 123, 123, 0.9); /* Semi-transparent background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.custom-dropdown.active .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-dropdown-2.active .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-dropdown-3.active .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dining-hall-tile {
    padding: 10px;
    margin: 0;
    border: 2px solid #ccc;
    border-radius: 8px; /* Adjust the border radius as needed */
    cursor: pointer;
    width: 150px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text */
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px; /* Adjust as needed for spacing between tiles */
}


.dining-hall-tile:hover {
    background-color: #a35454;
    transform: scale(1.1)
}

.dining-hall-tile.selected {
    background-color: #4CAF50; /* Green background color for selected state */
    transform: scale(1.1); /* Adjust the transformation for selected state */
    border-color: #4CAF50; /* Green border color for selected state */
    color: #fff; /* White text color for selected state */
}


.custom-dropdown.active {
    display: block; /* or visibility: visible; */
}

.custom-dropdown.show {
    display: block; /* or visibility: visible; */
}

.custom-dropdown-2.active {
    display: block; /* or visibility: visible; */
}

.custom-dropdown-2.show {
    display: block; /* or visibility: visible; */
}

.custom-dropdown-3.active {
    display: block; /* or visibility: visible; */
}

.custom-dropdown-3.show {
    display: block; /* or visibility: visible; */
}

.custom-dropdown-3 .selected-dining-hall {
    width: 130px; /* Adjust the width as needed */
    height: 130px; /* Adjust the height as needed */
    overflow: hidden; /* Ensure the image doesn't overflow */
    border-radius: 50%; /* Optional: Make the container circular */
}

.custom-dropdown-3 .selected-dining-hall img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Make the image circular if needed */
}

.calorie-goal-container {
    width: 20%; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust spacing between sections */
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    width: calc(100% - 20px); /* Adjust the width and padding as needed */
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}


.text-element {
    margin-top: 15px;
}

#desiredCalories {
    width: 100px;
    padding: 8px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 4px;
    margin-bottom: 10px;
}

#calorieGoalIndicator {
    margin-top: 10px;
    font-weight: bold;
    color: #ddd; /* Lighter text color */
}

#calorieGoalStatus {
    color: #39ff40;
}

#plate {
    margin-top: 20px;
    background-color: #53565A; /* Darker background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Subtle box shadow */
}

#plateList li {
    margin-bottom: 10px;
    list-style: none;
}

button {
    padding: 12px;
    background-color: #4285f4; /* Google Blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2a4a99; /* Darker Google Blue on hover */
    transform: scale(1.1); /* Grow in size on hover */
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    nav a {
        font-size: 14px;
    }
    .section {
        width: 100%; /* Each section takes up 100% width when the screen is narrow */
    }
    .dining-hall-tile {
        padding: 10px;
        margin: 0;
        border: 2px solid #ccc;
        border-radius: 8px; /* Adjust the border radius as needed */
        cursor: pointer;
        width: 85px; /* Set the desired width */
        height: 55px; /* Set the desired height */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center the text */
        transition: background-color 0.3s, transform 0.3s;
        margin-right: 10px; /* Adjust as needed for spacing between tiles */
    }
    
    
    .dining-hall-tile:hover {
        background-color: #a35454;
        transform: scale(1.1)
    }
    
    .dining-hall-tile.selected {
        background-color: #4CAF50; /* Green background color for selected state */
        transform: scale(1.1); /* Adjust the transformation for selected state */
        border-color: #4CAF50; /* Green border color for selected state */
        color: #fff; /* White text color for selected state */
    }


}

